<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @occupation.description %>
</p>

<%= link_to 'Edit', edit_occupation_path(@occupation) %> |
<%= link_to 'Back', occupations_path %>
